<html>
    <head>
        <title>The Pescatarian Bear</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The Pescatarian Bear</a></h1>
        </div>
        <p>Welcome to my kitchen!</p>
        
        <div>
            <p>published: 14.11.2020, 14:19</p>
            <h2><a href="">Getting Started</a></h2>
            <p>I became a pescatarian in 2013 to attempt to combat digestive issues I was having. Now, I am obsessed with experimenting with vegan and vegetarian eating, with the occasional supplementation of seafood.</p>
        </div>
    </body>
</html>